
    <div class="row-fields">
        <kendo-dropdownlist class="sherlock-dropdown year-dropdown" name="field" [data]="yearDropdown"
            [textField]="'text'" [valueField]="'value'" [(ngModel)]="selectedYearSortValue" >
        </kendo-dropdownlist>
    </div>
    <div class="row-fields">
        <kendo-dropdownlist class="sherlock-dropdown quarter-dropdown" name="field" [data]="quarterDropdown" [textField]="'text'"
            [valueField]="'value'" [(ngModel)]="selectedQuarterSortValue">
        </kendo-dropdownlist>
    </div>
