.text-head {
    font-size:20px;
    color:#000000;
    display:inline-block;
}

.sherlock-panel {
    padding:12px 20px !important;
}

.form-field {
    display:inline-block;
}
.sherlock-dropdown {
    width: 131px;
    margin-left:20px;
}

.view-more {
    font-size:14px;
    text-align:center;
    margin-top: 3%;
    cursor:pointer;
}