$background-color_1: rgba(101,101,101,0.2);
$background-color_2: #666666;

#progressbar {
	background-color: $background-color_1;
	border-radius: 8px;
	>div {
		background-color: $background-color_2;
		height: 3px;
		border-radius: 8px;
		opacity: 1;
	}
}
