
.sherlock-container {
	.page-header {
		width: 15% !important;
		vertical-align: top;
	}
	.review-sort-options-row {
		width: 79% !important;
		display: inline-block;
	}
}
.sherlock-dropdown.sm-dropdown {
	width: 80px !important;
}
.sherlock-dropdown.md-dropdown {
	width: 120px !important;
}

