
.guided-review-top-left {
	display: block;
}
.sherlock-panel {
	margin-top: 0px !important;
}
.guided-review-top-right {
	width: 100%;
	display: block;
	margin-top: 1%;
	text-align: right;
}
.review-content-block {
	min-height: 60vh;
	margin-top: 2.5%;
	.contents {
		width: 29%;
		display: inline-block;
		margin-top: 1%;
	}
}
.btn-next {
	width: 80px;
}
.btn-submit {
	width: 80px;
}
.btn-save {
	width: 92px;
	font-size: 14px !important;
}
.btns-row {
	margin-top: 5%;
	button {
		margin: 0 1%;
		cursor: pointer;
	}
	span {
		margin: 0 1%;
		cursor: pointer;
	}
}
.bottom-content-block {
	margin-top: 2%;
}
