$color_1: #616161;

.sherlock-footer-left {
	width: 70%;
	text-align: left;
	display: inline-block;
	margin-left: 2%;
	>img {
		margin-top: 1%;
	}
}
.sherlock-footer-right {
	width: 26%;
	text-align: right;
	display: inline-block;
	margin-right: 2%;
}
footer.sherlock-footer {
	position: relative;
	bottom: 0px;
	z-index: 3;
}
footer {
	.k-footer-menu-items {
		color: $color_1 !important;
	}
}
.left-text {
	padding-top: 3px;
}




