.generate-combined-review {
	opacity: 0.5;
	pointer-events: none;
	cursor: not-allowed !important;
	width: 205px;
}
.generate-review-table {
	margin-top: 10px;
}
.sherlock-btns.generate-review {
	margin-left: 0px !important;
	width: 120px;
}










